.home-container {
    height: 100%;
}

.home-page-content {
    background-color: #EDF0F2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}